#main
{
  display: flex;
  justify-content: center;
  align-items: center;
}
#div1,
#div2 
{
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 20rem;
  border: 1px solid black;
}

.container 
{
  display: flex;
}
.block 
{
  width: 30%; 
  height: 100px; 
  background-color: lightblue; 
  border: 1px solid black; 
  resize: both; 
  overflow: auto; 
}